<div class="user_wrapper">
  <div class="container">
    <div class="main_content">
      <div class="user_status">
        <div class="status_content user_name">
          <%= image_tag @user.image, width: "50px", height: "50px" %>
          <p><%= @user.name %></p>
        </div>
        <div class="status_content user_events_count">
          <p><%= icon "", "" %> <%= @events.count %></p>
          <p>参加イベント数</p>
        </div>
        <div class="status_content user_level">
          <%= icon "", "" %>
          <p class="level">Lv.30</p>
        </div>
      </div>
    </div>
    <div class="side_content">
      <div class="user_profile">
        <div class="user_profile_image">
          <%= image_tag @user.image, width: "80px", height: "80px" %>
        </div>
        <h3><%= @user.name %></h3>
        <p class="user_profile_detail">
          <%= @user.profile %>
        </p>
        <%= link_to "参加イベント一覧を見る", user_path(@user), class: "user_portfolio_btn" %>
        <div class="user_menu">
          <% if @user == current_user %>
            <a href="#" class="user_edit_btn">プロフィールを編集する</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
