<div class="portfolio_wrapper">

      <div class="portfolio_left">

        <div class="portfolio_userScore">
          <div class="portfolio_userScore_userName">
            <img src=<%=current_user.image %> alt="">
            <p><%=current_user.name%></p>
          </div>
          <div class="portfolio_userScore_number">
            <h3><%= icon "", "" %> <%= @events.count %></h3>
            <p>参加イベント数</p>

          </div>
          <div class="portfolio_userScore_level">
            <h3>Lv. <span>53</span></h3>
          </div>
        </div>

        <div class="portfolio_list">
          <h2>ポートフォリオ一覧</h2>
          <div class="portfolio_list_container">

            <div class="portfolio_list_item">
              <img src="paper.jpg" alt="">
              <h3>sample web site </h3>
              <p>はじめてhtml/css/JavaScriptを活用してサンプルページを作成しました。</p>
              <a href="#">https://samplePage.com/sample1</a>
            </div>


          </div>

        </div>

      </div>

      <div class="portfolio_right">

        <div class="portfolio_user">

          <img src=<%=current_user.image%> alt="">
          <h2><%=current_user.name%></h2>
          <p>Ruby on Railsを勉強している関西の学生です。自分でサービス開発ができるようになりたいです。</p>
          <div><p><%=link_to "参加イベント一覧", user_joiningEvent_path, :style=>"color:white;"%></p></div>
          <a href="#" class="portfolio_user_linkToEdit"><div><p>ポートフォリオ編集</p></div></a>
        </div>

        <div class="portfolio_communityList">
          <h2>参加コミュニティ</h2>
          <ul>
            <li>
              <img src="logo.png" alt="">
              <a href="#"><p>Ruby@Osaka</p></a>
            </li>
            <li>
              <img src="logo.png" alt="">
              <a href="#"><p>Ruby@Osaka</p></a>
            </li>
            <li>
              <img src="logo.png" alt="">
              <a href="#"><p>Ruby@Osaka</p></a>
            </li>
          </ul>
        </div>
        <%= button_to "コミュニティ一覧",groups_path,:method => :get %>
        <%= button_to "コミュニティを作成する", new_group_path, :method => :get %>
        <%= button_to "イベント作成", new_event_path, :method => :get  %>

      <%= button_to "下書きを見る" ,confirm_events_path,:method => :get%>

      </div>

    </div>
