<div class="event_wrapper">
  <div class="container">
    <div class="main_content">
      <div class="event_title_wrap">
        <h2 class="event_show_title">
          <span class="event_date_budge">
            <% event_date =  @event.started_at.to_date  %>
            <p class="month"><%= l(event_date, format: :just_month) %></p>
            <p class="day"><%= l(event_date, format: :just_date) %></p>
          </span>
          <%= @event.title %>
        </h2>
        <% if @event.image %>

        <% end %>
      </div>
      <div class="event_detail_wrap">
        <p class="event_detail"><%= icon "fas", "info-circle" %>イベント詳細</p>
        <div class="event_detail_content">
          <% if @event.site %>
            <div class="event_detail_btn">
              <%= link_to "詳細を確認する", @event.url%>
            </div>

          <% end %>
        </div>
      </div>
    </div>
    <div class="side_content">
      <div class="event_location_wrap">
        <h3><%= icon "fas", "map-marker-alt", class: "mr-2" %>会場</h3>
        <p class="event_location"><%= @event.location %></p>
        <p class="event_address"><%= @event.address %></p>
        <div id="map"></div>

        </div>

      <% if @event.owner %>
      <div class="event_owner_wrap">

      </div>
      <% end %>
      
    </div>
  </div>
</div>
