<div class="event_wrapper">
  <div class="container">
    <div class="main_content">
      <div class="event_title_wrap">
        <h2 class="event_show_title">
          <span class="event_date_budge">
            <% event_date =  @event.started_at.to_date  %>
            <p class="month"><%= l(event_date, format: :just_month) %></p>
            <p class="day"><%= l(event_date, format: :just_date) %></p>
          </span>
          <%= @event.title %>
        </h2>
        <% if @event.image %>
          <div class="thumbnail" style="background-image: url(<%= @event.image %>)"></div>
        <% elsif @event.site == "doorkeeper" %>
          <div class="thumbnail">
            <%= image_tag("doorkeeper.png", style: "margin: 104px auto", width: "360px") %>
          </div>
        <% elsif @event.site == "connpass" %>
          <div class="thumbnail">
            <%= image_tag("connpass.png", style: "margin: 71px auto") %>
          </div>
        <% end %>
      </div>
      <div class="event_detail_wrap">
        <p class="event_detail"><%= icon "fas", "info-circle" %>イベント詳細</p>
        <div class="event_detail_content">
          <% if @event.site %>
            <div class="event_detail_btn">
              <%= link_to "詳細を確認する", @event.url %>
            </div>
          <% else %>
            <%= markdown(@event.description).html_safe %>
          <% end %>
        </div>
      </div>
      <div class="user_event_attend">
        <% if @user_event %>
          <div class="event_attend_button">
            <%= button_to "イベントの参加を取り消す", {controller: 'user_events', action: 'destroy'},
                                                  { method: :delete, params: { event_id: @event.id } } %>
          </div>
        <% else %>
          <div class="event_attend_button">
  　　　　　　<%= button_to "イベントに参加する", {controller: 'user_events', action: 'create'},
                                             { method: :post, params: { event_id: @event.id } } %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="side_content">
      <div class="event_location_wrap">
        <h3><%= icon "fas", "map-marker-alt", class: "mr-2" %>会場</h3>
        <p class="event_location"><%= @event.location %></p>
        <p class="event_address"><%= @event.address %></p>
        <div id="map"></div>
          <script>
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              handler.getMap().setZoom(17);
            });
          </script>
        </div>
      <div class="event_date_wrap">
        <div class="event_date_content">
          <div class="event_date_status">
            <% if @event.started_at > Time.now %>
              <p style="background: #FFCC66;">開催前</p>
            <% else %>
              <p style="background: #aaa">終了</p>
            <% end %>
          </div>
          <p class="event_date"><%= l(event_date, format: :long) %></p>
          <p class="event_started_at"><%= l(@event.started_at, format: :just_time)%></p>
          <p class="event_ended_at"><span>~</span><%= l(@event.ended_at, format: :just_time) %></p>
        </div>
      </div>
      <% if @event.owner %>
      <div class="event_owner_wrap">

      </div>
      <% end %>
      <% if @event.users.any? %>
      <div class="event_paticipation_wrap">

      </div>
      <% end %>
    </div>
  </div>
</div>
