<div class="event-wrapper">
  <div class="container">
    <div class="event-main">
      <%= image_tag (@event.image), class:"img-fluid" %>
      <h1 style="margin: 100px"><%= @event.title  %></h1>
      <p><%= @event.detail  %></p>
    </div>
    <div class="event-menu">
      <% if !@user_event %>
        <div class="event-menu">
          <%= form_with url: user_events_path, local: true do |f|  %>
            <%= f.hidden_field :event_id, :value => params[:id] %>
            <%= f.submit "参加する", class: "btn btn-info" %>
          <% end %>
        <% else %>
          <%= form_with url: user_event_path(@user_event), local: true, method: :delete do |f| %>
            <%= f.submit "参加を取り消す", class: "btn btn-danger" %>
          <% end %>
        <% end %>
        </div>

        <div class="d-flex justify-content-center">
          <h1 style="margin: 80px 0">参加者一覧</h1>
        </div>
          <div class="event-participants">
            <div class="event-participant">
              <% @participants.each do |participant| %>
                <%= current_user.name%>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
