<% if !user_signed_in?  %>
  <div class="center">
    <%= image_tag 'resource.png', class:"top-image" %>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "新規登録", new_user_registration_path, class: "btn--basic shadow-lg", style:"font-weight:bold" %>
    <%= link_to "ログイン", new_user_session_path, class: "btn--basic shadow-lg", style:"font-weight:bold" %>
  </div>
<% end %>

<h1 style="text-align: center; margin-bottom: 7vh;">インターンシップ一覧</h1>

<div class="card-deck d-flex">
  <% @internships.each do |intern| %>
    <div style="margin: 5%" class="row no-gutters card--basic shadow-lg float-right" onmouseover="over(this)" onmouseout="out(this)" onclick="location.href='internships/<%= intern.id %>'">
      <div class="col-md-4 d-flex flex-wrap align-content-center">
        <%- if intern.image %>
          <%= image_tag (intern.image), class: "thumbnail" %> 
        <% else %>
          <%= image_tag 'noImg', class: "thumbnail"  %>
        <% end %>
      </div>
      <div class="col-md-8 d-flex flex-wrap align-content-center">
        <div class="card-body">
          <p class="card-text" style="text-align: left"><%= intern.location %></p>
          <h5 class="card-title vuc" style="text-align: center"><%= intern.title %></h5>
          <p class="float-right"><%= intern.date  %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @internships %>
