<header>
  <nav>
    <div class="container">
      <%= link_to "Career Walk", root_path, style: "font-size: 36px;" %>
      <ul class="nav-list">
        <li>
          <a href="#">カテゴリ一覧</a>
        </li>
        <li>
          <a href="#">新着イベント</a>
        </li>
      </ul>
      <div class="searchbox">
        <%= search_form_for(@q, url:search_path) do |f| %>
        <%= f.text_field :title_cont ,placeholder: 'イベント名を入力...' %>
        <%= f.submit "検索" , class: 'search-btn'%>%>
      <% end %>
      </div>
      <% if current_user  %>
      　
        <%= link_to user_path(current_user) do %>
        <div class="user-info">
          <% if current_user.image %>
            <%= image_tag current_user.image, width: "48px", height: "48px"  %>
          <% end %>
          <p><%= current_user.name %></p>
        </div>
        <% end %>
        <%= link_to "ログアウト", destroy_user_session_path %>
      <% else %>
        <div class="user-registration">
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "新規登録", new_user_registration_path  %>
        </div>
      <% end %>
    </div>
  </nav>
</header>
