<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="justofy-content-start">
      <h1 onclick="location.href='/'" style="font-style: oblique;">Career<strong style="color:#6688FF"> Walk</strong></h1>
      <div class="navbar-nav btn-group mr-auto" role="group">
        <% if request.path_info.include?("events") %>
          <%= link_to "インターンシップ", root_path, class: "btn btn-info", id: "intern", style: "color: white" %>
          <%= link_to "勉強会", events_path, class: "btn btn-info active", id: "std", style: "color: white" %>
        <% else %>
          <%= link_to "インターンシップ", root_path, class: "btn btn-info active", id: "intern", style: "color: white" %>
          <%= link_to "勉強会", events_path, class: "btn btn-info", id: "std", style: "color: white" %>
        <% end %>
      </div>
    </div>
    <div class="justify-content-end">
      <% if !user_signed_in?  %>
        <div class="navbar-nav">
          <%= link_to "新規登録", new_user_registration_path, class: "btn", style: "font-weight: bold"%>
          <%= link_to "ログイン", new_user_session_path, class: "btn", style: "font-weight: bold" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>

